{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <!-- scripts -->
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.min.js"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src='{% static "reviews/js/jquery.rateit.min.js" %}'></script>
        <!-- styles -->
        <link type="text/css" rel="stylesheet" href='//ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/cupertino/jquery-ui.css' />
        <link type="text/css" rel="stylesheet" href='//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css'/>
        <link type="text/css" rel="stylesheet" href='{% static "reviews/css/rateit.css" %}'/>
        <link type="text/css" rel="stylesheet" href='{% static "reviews/css/reviews.css" %}'/>
        <!-- SEO junk -->
        <title>
            {% block title %}ibComics Reviews{% endblock %}
        </title>
        <!-- common scripts -->
        <script>
            pagination_hider = function(){if ( $('#'+tableid+'_paginate span a.paginate_button').size() )
                                              $('#'+tableid+'_paginate')[0].style.display = "block";
                                          else
                                              $('#'+tableid+'_paginate')[0].style.display = "none";};
        </script>
    </head>
    <body>
        <!--[if !IE 7]>
            <style type="text/css">
                #wrap {display:table;height:100%}
            </style>
        <![endif]-->
        <div id="wrap">
            <div id="header">
                <div id="toolbar" class="menubar ui-widget-header ui-corner-all">
                    <a class="menubtn" id="menubtn_latestreviews"  href='{% url "index" %}'         >Latest Reviews</a>
                    <a class="menubtn" id="menubtn_allcomics"      href='{% url "comicsindex" %}'   >All Comics</a>
                    <a class="menubtn" id="menubtn_allreviewers"   href='{% url "reviewersindex" %}'>All Reviewers</a>
                    <a class="menubtn" id="menubtn_comicswithtags" href='{% url "comicsandtags" %}' >Tags</a>
                    {% if user and user.is_active %}
                        <a class="menubtn menubtn_right" id="menubtn_loginout" href='{% url "logout_view" %}'>
                            Log Out {{user.username}}</a>
                    {% else %}
                        <a class="menubtn menubtn_right" id="menubtn_loginout" href='{% url "loginreviewerindex" %}'>
                            Log In</a>
                    {% endif %}
                    <script>$( ".menubtn" ).button();</script>
                    {% block editmenu %}{% endblock %}
                </div>
                <br />
            </div>
            <div id="main">
                <div id='content' class="ui-widget-container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <br />
            Questions?  Comments? Complains? Corrections? <a href="mailto:ibiwan@gmail.com">Tell me!</a><br />
            Site built with <a href="https://www.djangoproject.com/">Django</a> 
            and hosted at <a href="https://github.com/ibiwan/ibcomics">GitHub</a>.<br />
            &copy; Jeremy Kent 2013
        </div>
    </body>
</html>
