{% extends 'reviews/base.html' %}

{% block comicstags %}
    {{ block.super }}
    <script>$( "#menubtn_comicswithtags" ).button({  disabled: true });</script>
{% endblock %}

{% block title %}
    {{ block.super }}: Comics by Tag
{% endblock %}

{% block content %}
    {% if comic_list %}
        <table class="comicstags" id="comicstags"></table>
        <script>
            tableid = "comicstags";
            $(document).ready(function() {
                comicTagTable = $('#'+tableid).dataTable({
                    "bPaginate"   : false,
                    "sScrollY": "30em",
                    "bDeferRender"    : true,
                    "oSearch"         : {"sSearch": "{{ search_tag }}",},
                    "fnDrawCallback"  : function(){ /* hide pagination if single-page results */
                            if ( $('#'+tableid+'_paginate span a.paginate_button').size() ) {
                                $('#'+tableid+'_paginate')[0].style.display = "block";
                            } else {
                                $('#'+tableid+'_paginate')[0].style.display = "none";
                            }
                        },                    
                    "aoColumns" : [
                        {'sTitle' : 'Avg. Stars', 'sWidth' : '7em', "asSorting" : ["desc", "asc"], "bSearchable" : false},
                        {'sTitle' : 'Comic', 'sWidth' : '8em', "bSearchable" : false},
                        {'sTitle' : 'Tags', 'iDataSort' : 3},
                        {'sTitle' : 'numTags', "asSorting" : ['desc', 'asc'], 'bSearchable':false, 'bVisible':false},
                    ],
                    "aaSorting"       : [[2, 'desc']],
                    "aaData" : [
                        {% for comic in comic_list %}
                            [
                                {% with avg=comic.average_rating count=comic.review_set.count %}
                                    '<span class="rateit" data-rateit-value="{{ avg }}" ' + 
                                        'data-rateit-ispreset="true" data-rateit-readonly="true"></span>' + 
                                        '({{ avg }})',
                                    '<a href="{% url 'comicdetail' comic.id %}">{{ comic.name }}</a>',
                                    {% for tag in comic.comictag_set.all %}
                                        '<button class="tagbtn" onclick="comicTagTable.fnFilter(\'{{ tag }}\');">{{ tag }}</button>'+
                                    {% endfor %}
                                    '',
                                    {{ comic.comictag_set.count }},
                                {% endwith %}
                            ],
                        {% endfor %}
                    ],
                    "fnDrawCallback" : function(){
                        $(".dataTable .rateit").rateit(); /* redraw visible rating widgets */
                    },
                });
                $( ".tagbtn" ).button().removeClass('ui-corner-all');
                $( ".dataTables_filter input" ).after("<button class='clearbtn' onclick=\"comicTagTable.fnFilter('');\">clear</button>");
                $( ".clearbtn" ).button();
            } );
        </script>
    {% else %}
        <p>No comics are available.</p>
    {% endif %}
{% endblock %}

