{% extends 'reviews/base.html' %}

{% block title %}
    {{ block.super }}: All Comics
{% endblock %}

{% block allcomics %}
    {{ block.super }}
    <script>$( "#menubtn_allcomics" ).button({  disabled: true });</script>
{% endblock %}

{% block content %}
    {% if user and user.is_active %}
        <h3><a href="{% url 'addcomic' %}" class="addcomiclink">Add A Comic</a></h3>
    {% endif %}
    {% if comic_list %}
        <table class="comicslist" id="comicslist"></table>
        <script>
            tableid = "comicslist";
            $(document).ready(function() {
                $('#'+tableid).dataTable({
                    "sPaginationType" : "full_numbers",
                    "iDisplayLength"  : 15,
                    "bLengthChange"   : false,
                    "bDeferRender"    : true,
                    "fnDrawCallback"  : function(){ /* hide pagination if single-page results */
                            if ( $('#'+tableid+'_paginate span a.paginate_button').size() ) {
                                $('#'+tableid+'_paginate')[0].style.display = "block";
                            } else {
                                $('#'+tableid+'_paginate')[0].style.display = "none";
                            }
                        },                    
                    "aoColumns" : [
                        {'sTitle' : 'Avg. Stars', 'sWidth' : '7em', "asSorting" : ["desc", "asc"]},
                        {'sTitle' : 'Reviews',    'sWidth' : '4em', "asSorting" : ["desc", "asc"]},
                        {'sTitle' : 'Content',    'sWidth' : '4em'},
                        {'sTitle' : 'Name'},
                        {'sTitle' : 'Read Comic', 'sWidth' : '6em', "asSorting" : []},
                         {% if user and user.is_active %}
                            {'sTitle' : 'Tasks',  'sWidth' : '5em', "asSorting" : []},
                        {% endif %}
                    ],
                    "aaSorting"       : [[3, 'asc']],
                    "aaData" : [
                        {% for comic in comic_list %}
                            [
                                {% with avg=comic.average_rating count=comic.review_set.count %}
                                    '<span class="rateit" data-rateit-value="{{ avg }}" ' + 
                                        'data-rateit-ispreset="true" data-rateit-readonly="true"></span>' + 
                                        '({{ avg }})',
                                    '{{ count }} review{{ count|pluralize }}',
                                    '{{ comic.get_mpaa_rating_display }}',
                                    '<a href="{% url 'comicdetail' comic.id %}">{{ comic.name }}</a>',
                                    '<a href="{{ comic.url }}" target="_blank">First Strip</a>',
                                    {% if user and user.is_active %}
                                            '<a href="{% url 'editcomic' comic.id %}">(edit)</a> ' + 
                                            '<a href="{% url 'deletecomic' comic.id %}">(delete)</a>',
                                    {% endif %}
                                {% endwith %}
                            ],
                        {% endfor %}
                    ],
                    "fnDrawCallback" : function(){
                        $(".dataTable .rateit").rateit(); /* redraw visible rating widgets */
                    },
                });
            } );
        </script>
    {% else %}
        <p>No comics are available.</p>
    {% endif %}
{% endblock %}

