{% extends 'reviews/base.html' %}

{% block title %}
    {{ block.super }}: Comic Detail
{% endblock %}

{% block content %}

    <h1>{{ comic.name }}</h1>

    <table>
        <tr>
            {% with avg=comic.average_rating %}
                <td>Overall:</td>
                <td>
                    <span class="rateit" 
                        data-rateit-value="{{ avg }}" 
                        data-rateit-ispreset="true" 
                        data-rateit-readonly="true">
                    </span>
                    ({{ avg }}).
                </td>
            {% endwith %}
        </tr>
        <tr>
            <td>Content:</td>
            <td>{{ comic.get_mpaa_rating_display }}</td>
        </tr>
    </table>

    <h2>Tags</h2>
    <div id="tagdisplay">
        {% if comic.comictag_set.all %}
            {% for tag in comic.comictag_set.all %}
                <a href="{% url 'comicswithtag' tag %}"><button class="comictag">{{ tag }}</button></a>
            {% endfor %}
            <script>
                $(".comictag")
                    .button()
                    .removeClass('ui-corner-all');
            </script>
        {% else %}
            <h3>No Tags to be found!</h3>
        {% endif %}
    </div>
    <br />

    <h2>Links</h2>
    <div id="urldisplay">
        <a href="{{ comic.url }}" class="alturl">FIRST</a>
        {% if comic.alternateurl_set.all %}
            {% for url in comic.alternateurl_set.all %}
                <a href="{{ url.url }}" class="alturl">{{ url.description }}</a>
            {% endfor %}
        {% endif %}
        <script>$(".alturl").button()</script>
    </div>
    <br />

    <h2>Reviews</h2>
    <div id="reviews">
        {% if comic.review_set.all %}
            <table class="comicreviews" id="comicreviews">
                <tbody>
                    {% for review in comic.review_set.all %}
                        <tr>
                            <td>
                                <a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a>
                            <td>
                                <span class="rateit"
                                    data-rateit-value   ="{{ review.stars }}" 
                                    data-rateit-ispreset="true" 
                                    data-rateit-readonly="true">
                                </span>
                                ({{ review.stars }})
                            <td>
                                {{ review.summary }}
                                {% if review.review_text != review.summary %}
                                    <a href="{% url 'detail' review.id %}">(Full Review)</a>
                                {% endif %}
                {% endfor %}
            </table>
            <br /><br />
        {% else %}
            <h3>Huh.  Nothing here...</h3>
        {% endif %}
    </div>

    {% if user and user.is_active %}
        <h3><a href="{% url 'writereview' comic.id %}">Add A Review</a></h3>
        <h3><a href="{% url 'editcomic' comic.id %}">Edit Comic</a></h3>
    {% endif %}

    {% if debug_message %}<p><strong>{{ debug_message }}</strong></p>{% endif %}

    <script>
        tableid = "comicreviews";
        $(document).ready(function() {
            $('#'+tableid).dataTable({
                "sPaginationType" : "full_numbers",
                "iDisplayLength"  : 15,
                "bLengthChange"   : false,
                "fnDrawCallback"  : pagination_hider,
                "aaSorting": [[0, 'asc']],
                "aoColumns": [
                    {'sTitle' : 'Reviewer'},
                    {'sTitle' : 'Rating',         "asSorting": ["desc", "asc"]},
                    {'sTitle' : 'Review Summary', "asSorting": []},
                ],    
            });
        } );
    </script>
{% endblock %}
