{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: All Comics{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}All Comics{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>All Comics</h1>
    <a href="{% url 'addcomic' %}">Add A Comic</a>
    <br /><br /><br />
    {% if all_comics_list %}
        <table>
            <thead>
                <tr>
                    <th>Avg. Rating</th>
                    <th>Name</th>
                    <th>Reviews</th>
                    <th>Read Comic</th>
                </tr>
            </thead>
            <tbody>
                {% for comic in all_comics_list %}
                    <tr>
                        {% with avg=comic.average_rating %}
                            <td>
                                <span class="rateit" data-rateit-value="{{ avg }}" data-rateit-ispreset="true" data-rateit-readonly="true"></span>{{ avg }}
                            </td>
                        {% endwith %}
                        <td>{{ comic.name }}</td>
                        {% with count=comic.review_set.count %}
                            <td><a href="{% url 'comicdetail' comic.id %}">{{ count }} review{{ count|pluralize }}</a>
                        {% endwith %}
                        </td>
                        <td><a href="{{ comic.url }}">{{ comic.url }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No comics are available.</p>
    {% endif %}
{% endblock %}
