{% extends 'reviews/base.html' %}

{% block title %}
    {{ block.super }}: All Reviewers
{% endblock %}

{% block editmenu %}
    <script>$( "#menubtn_allreviewers" ).button({ disabled: true });</script>
{% endblock %}

{% block content %}
    {% if reviewer_list %}
        <table class="reviewerstable" id="reviewerstable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Reviews</th>
                    {% if user and user.is_active %}
                        <th>Message</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for reviewer in reviewer_list %}
                    <tr>
                        <td><a href="{% url 'reviewerdetail' reviewer.id %}">{{ reviewer.name }}</a></td>
                        <td>({{ reviewer.review_set.count }} reviews)</td>
                        {% if user and user.is_active %}
                            <td>
                                {% if user.id == reviewer.user.id %}
                                    (Welcome; we appreciate ALL your effort! Go review something!)
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            tableid = "reviewerstable";
            $(document).ready(function() {
                $('#'+tableid).dataTable({
                    "sPaginationType" : "full_numbers",
                    "iDisplayLength"  : 15,
                    "bLengthChange"   : false,
                    "fnDrawCallback"  : pagination_hider,
                    "aaSorting": [[0, 'asc']],
                    "aoColumns": [
                        null,
                        {"asSorting": ["desc", "asc"]},
                        {% if user and user.is_active %}
                            {"asSorting": []},
                        {% endif %}
                    ]
                });
            } );
        </script>
    {% else %}
        <p>No comics are available.</p>
    {% endif %}
{% endblock %}
