{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src='{% static "reviews/js/jquery.rateit.js" %}' type="text/javascript" language="javascript"></script>
        <link href='{% static "reviews/css/rateit.css" %}' type="text/css" rel="stylesheet"/>
        <title>{% block title %}ibComics Reviews{% endblock %}</title>
    </head>
    <body>
        <div id='menubar'>
            <span id='menubaritem left'>    
                {% block allreviews %}<a href="{% url 'index' %}">Latest Reviews</a>{% endblock %}
            </span>
            <span id='menubaritem left'>
                {% block allcomics %}<a href="{% url 'comicsindex' %}">All Comics</a>{% endblock %}
            </span>
            <span id='menubaritem left'>
                {% block allreviewers %}<a href="{% url 'reviewersindex' %}">All Reviewers</a>{% endblock %}
            </span>
             <span id='menubaritem right' style="float:right;">
                {% block loginout %}
                    {% if user and user.is_active %}
                        <a href="{% url 'logout_view' %}">Log Out {{user.username}}</a>
                    {% else %}
                        <a href="{% url 'loginreviewerindex' %}">Log In</a>
                    {% endif %}
                {% endblock %}
            </span>
       </div>

        <div id='content' style="width:800px;">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <br /><br />
        Questions?  Comments? Complains? Corrections? <a href="mailto:ibiwan@gmail.com">Tell me!</a><br />
        Site built with <a href="https://www.djangoproject.com/">Django</a> 
        and hosted at <a href="https://github.com/ibiwan/ibcomics">GitHub</a>.<br />
        &copy; Jeremy Kent 2013<br />
    </footer>
</html>
