{% extends 'reviews/base.html' %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}
{% block loginout %}{{ block.super }}{% endblock %}

{% block title %}
    {{ block.super }}: All Comics
{% endblock %}

{% block allcomics %}
    {{ block.super }}
    <script>$( "#menubtn_allcomics" ).button({  disabled: true });</script>
{% endblock %}

{% block content %}
    {% if user and user.is_active %}
        <a href="{% url 'addcomic' %}" class="addcomiclink">Add A Comic</a>
        <br />
    {% endif %}
    {% if comic_list %}
        <table class="comicslist" id="comicslist"></table>
        <script>
            tableid = "comicslist";
            $(document).ready(function() {
                $('#'+tableid).dataTable({
                    "sPaginationType" : "full_numbers",
                    "iDisplayLength"  : 15,
                    "bLengthChange"   : false,
                    "bDeferRender"    : true,
                    "aaSorting"       : {% if user and user.is_active %}[[2, 'asc']],{% else %}[[1, 'asc']],{% endif %}
                    "fnDrawCallback"  : function(){ /* hide pagination if single-page results */
                            if ( $('#'+tableid+'_paginate span a.paginate_button').size() ) {
                                $('#'+tableid+'_paginate')[0].style.display = "block";
                            } else {
                                $('#'+tableid+'_paginate')[0].style.display = "none";
                            }
                        },                    
                    "aoColumns" : [
                        {% if user and user.is_active %}
                            {'sTitle' : 'Tasks', 'sWidth' : '5em'},
                        {% endif %}
                        {'sTitle' : 'Avg. Stars', 'sWidth' : '6em'},
                        {'sTitle' : 'Name'},
                        {'sTitle' : 'Reviews', 'sWidth' : '4em'},
                        {'sTitle' : 'Content', 'sWidth' : '4em'},
                        {'sTitle' : 'Read Comic', 'sWidth' : '4em'},
                    ],
                    "aaData" : [
                        {% for comic in comic_list %}
                        [
                            {% with avg=comic.average_rating count=comic.review_set.count %}
                                {% if user and user.is_active %}
                                        '<a href="{% url 'editcomic' comic.id %}">(edit)</a>' + 
                                        '<a href="{% url 'deletecomic' comic.id %}">(delete)</a>',
                                {% endif %}
                                '<span class="rateit" data-rateit-value="{{ avg }}" ' + 
                                    'data-rateit-ispreset="true" data-rateit-readonly="true"></span>' + 
                                    '{{ avg }}',
                                '{{ comic.name }}',
                                '<a href="{% url 'comicdetail' comic.id %}">{{ count }} review{{ count|pluralize }}</a>',
                                '{{ comic.get_mpaa_rating_display }}',
                                '<a href="{{ comic.url }}">First Strip</a>',
                            {% endwith %}
                        ],
                        {% endfor %}
                    ],
                    "fnDrawCallback" : function(){
                        $(".rateit").rateit(); /* redraw rating widgets */
                    },
                });
            } );
        </script>
    {% else %}
        <p>No comics are available.</p>
    {% endif %}
{% endblock %}

