{% extends 'reviews/base.html' %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}
{% block loginout %}{{ block.super }}{% endblock %}

{% block title %}
    {{ block.super }}: Comic Detail
{% endblock %}

{% block content %}

    <h1>Reviews of <a href="{{ comic.url }}"/>{{ comic.name }}</a></h1>
    <div class="comicaveragerating">
        {% with avg=comic.average_rating %}
            Overall: 
            <span class="rateit" data-rateit-value="{{ avg }}" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
            {{ avg }} stars.
        {% endwith %}
    </div>
    <div class="comiccontentrating">
        Content Rating:
        {{ comic.get_mpaa_rating_display }}
    </div>
    <br />
    <table class="comicreviews" id="comicreviews">
        <thead>
            <tr>
                <th>Reviewer</th>
                <th>Rating</th>
                <th>Full Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in comic.review_set.all %}
                <tr>
                    <td>
                        <a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a>
                    </td>
                    <td>
                        <span class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
                        ({{ review.stars }})
                    </td>
                    <td>
                        <a href="{% url 'detail' review.id %}">Full Review</a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <br /><br />
    <a href="{% url 'writereview' comic.id %}">Add A Review</a>

    <br /><br />

    {% if debug_message %}<p><strong>{{ debug_message }}</strong></p>{% endif %}

        <script>
            tableid = "comicreviews";
            $(document).ready(function() {
                $('#'+tableid).dataTable({
                    "sPaginationType" : "full_numbers",
                    "iDisplayLength"  : 15,
                    "bLengthChange"   : false,
                    "fnDrawCallback"  : function(){
                            if ( $('#'+tableid+'_paginate span a.paginate_button').size() )
                                $('#'+tableid+'_paginate')[0].style.display = "block";
                            else
                                $('#'+tableid+'_paginate')[0].style.display = "none";
                        },                    
                    "aaSorting": [[0, 'asc']],
                });
            } );
        </script>
{% endblock %}
