{% extends 'reviews/base.html' %}

{% block title %}
    {{ block.super }}: Delete Comic
{% endblock %}

{% block content %}
    <h1>Delete Comic</h1>

    {% if error_message %}
        <span class="error_message"><strong>{{ error_message }}</strong></span>
    {% endif %}

    <table class="comicsummary">
        <tr>
            <td>Name:</td><td>{{ comic.name }}</td>
        </tr>
        <tr>
            <td>Average Stars:</td>
            <td>
                {% with avg=comic.average_rating count=comic.review_set.count %}
                    <span class="rateit" data-rateit-value="{{ avg }}" data-rateit-ispreset="true" data-rateit-readonly="true">
                    </span>
                    {{ avg }}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <td>Content Rating:</td><td>{{ comic.mpaa_rating_readable }}</td>
        </tr>
    </table>

    <br /><br />

    <form action="{% url 'confirmdeletecomic' comic.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="DELETE" />
    </form>
{% endblock %}
