{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: Delete Comic{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>Delete Comic</h1>

    {% if error_message %}
        <p style="color:red;"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <table class="comicsummary">
        <tr>
            <td>Name:</td><td>{{ comic.name }}</td>
        </tr>
        <tr>
            <td>Average Stars:</td>
            <td>
                {% with avg=comic.average_rating count=comic.review_set.count %}
                    <span class="rateit" data-rateit-value="{{ avg }}" data-rateit-ispreset="true" data-rateit-readonly="true">
                    </span>
                    {{ avg }}
                {% endwith %}
            </td>
        </tr>
        <tr>
            <td>Content Rating:</td><td>{{ comic.mpaa_rating_readable }}</td>
        </tr>
    </table>

    <br /><br />

    <form action="{% url 'confirmdeletecomic' comic.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="DELETE" />
    </form>
{% endblock %}
