{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: Delete Review{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>Delete Review</h1>

    {% if error_message %}
        <p style="color:red;"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <table class="reviewsummary">
        <tr>
            <td>Date:</td><td>{{ review.pub_date }}</td>
        </tr>
        <tr>
            <td>Stars:</td>
            <td>
                <span class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true">
                </span>
                {{ review.stars }}
            </td>
        </tr>
        <tr>
            <td>Text:</td><td>{{ review.review_text }}</td>
        </tr>
    </table>
    <form action="{% url 'confirmdeletereview' review.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="DELETE" />
    </form>
{% endblock %}

