{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: Latest Reviews{% endblock %}
{% block allreviews %}Latest Reviews{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>Latest Reviews</h1>
    {% if review_list %}
        <table class="latestreviews" id="latestreviews">
            <thead>
                <tr>
                    <th>Reviewer</th>
                    <th>Rating</th>
                    <th>Full Review</th>
                    <th>Comic Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for review in review_list %}
                    <tr>
                        <td><a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a></td>
                        <td>
                            <div class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true">
                            </div>
                        </td>
                        <td>
                            <a href="{% url 'detail' review.id %}">Full Review</a>
                        </td>
                        <td>
                            <a href="{% url 'comicdetail' review.comic.id %}">{{ review.comic }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            tableid = "latestreviews";
            $(document).ready(function() {
                $('#'+tableid).dataTable({
                    "sPaginationType" : "full_numbers",
                    "iDisplayLength"  : 20,
                    "bLengthChange"   : false,
                    "fnDrawCallback"  : function(){
                            if ( $('#'+tableid+'_paginate span a.paginate_button').size() )
                                $('#'+tableid+'_paginate')[0].style.display = "block";
                            else
                                $('#'+tableid+'_paginate')[0].style.display = "none";
                        },                    
                    "aaSorting": [[3, 'asc']],
                });
            } );
        </script>

    {% else %}
        <p>No reviews are available.</p>
    {% endif %}
{% endblock %}
