{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: All Reviewers{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}All Reviewers{% endblock %}

{% block content %}
    <h1>All Reviewers</h1>
    {% if reviewer_list %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Reviews</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for reviewer in reviewer_list %}
                    <tr>
                        <td>{{ reviewer.name }}</td>
                        <td>
                            <a href="{% url 'reviewerdetail' reviewer.id %}">({{ reviewer.review_set.count }} reviews)</a>
                        </td>
                        <td>
                            {% if user and user.is_active and user.id == reviewer.user.id %}
                                (Welcome; we appreciate ALL your effort! Go review something!)
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No comics are available.</p>
    {% endif %}
{% endblock %}
