{% extends 'reviews/base.html' %}

{% load humanize %}

{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}
{% block loginout %}{{ block.super }}{% endblock %}

{% block title %}
    {{ block.super }}: Latest Reviews
{% endblock %}

{% block allreviews %}
    {{ block.super }}
    <script>$( "#menubtn_latestreviews" ).button({ disabled: true });</script>
{% endblock %}

{% block content %}
    {% if review_list %}
        <table class="latestreviews" id="latestreviews">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>When</th>
                    <th>Reviewer</th>
                    <th>Rating</th>
                    <th>Review Summary</th>
                    <th>Comic<br />(and all reviews for it)</th>
                </tr>
            </thead>
            <tbody>
                {% for review in review_list %}
                    <tr>
                        <td>{{ review.pub_date }}</td>
                        <td>{{ review.pub_date|naturaltime }}</td>
                        <td><a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a></td>
                        <td>
                            <div class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true">
                            </div>({{ review.stars }})
                        </td>
                        <td>
                            {{ review.summary }}
                            {% if review.review_text != review.summary %}
                                <a href="{% url 'detail' review.id %}">(Full Review)</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'comicdetail' review.comic.id %}">{{ review.comic }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            tableid = "latestreviews";
            $(document).ready(function() {
                $('#'+tableid).dataTable({
                    "sPaginationType" : "full_numbers",
                    "iDisplayLength"  : 15,
                    "bLengthChange"   : false,
                    "fnDrawCallback"  : function(){
                            if ( $('#'+tableid+'_paginate span a.paginate_button').size() )
                                $('#'+tableid+'_paginate')[0].style.display = "block";
                            else
                                $('#'+tableid+'_paginate')[0].style.display = "none";
                        },                    
                    "aaSorting": [[0, 'desc']],
                    "aoColumns": [
                        {"bSearchable":false, "bVisible":false},
                        {"iDataSort" : 0},
                        null,
                        {"asSorting": ["desc", "asc"]},
                        {"asSorting": []},
                        null,
                    ],
                });
            } );
        </script>

    {% else %}
        <p>No reviews are available.</p>
    {% endif %}
{% endblock %}
