{% extends 'reviews/base.html' %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}
{% block loginout %}{{ block.super }}{% endblock %}

{% block title %}
    {{ block.super }}: Reviewer
{% endblock %}

{% block content %}
    <h1>Reviews by {{ reviewer.name }}</a></h1>

    <table class="reviewslist" id="reviewslist">
        <thead>
            <tr>
                <th>Rating</th>
                <th>Comic Detail</th> 
                 <th>Full Review</th>
               {% if user and user.is_active and user.id == reviewer.user.id %}
                    <th>Tasks</th>
                {% endif %}           
            </tr>
        </thead>
        <tbody>
            {% for review in reviewer.reviews_by_comic %}
                <tr>
                    <td class="starrating">
                        <span class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true">
                        </span>
                        {{ review.stars }}
                    </td>
                    <td>
                        <a href="{% url 'comicdetail' review.comic.id %}">{{ review.comic }}</a>
                    </td>       
                    <td>
                        <a href="{% url 'detail' review.id %}">Full Review</a>
                    </td>
                    {% if user and user.is_active and user.id == reviewer.user.id %}
                        <td>
                            (<a href="{% url 'editreview' review.id %}">edit</a>)
                            (<a href="{% url 'deletereview' review.id %}">delete</a>)
                        </td>
                    {% endif %}     
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        tableid = "reviewslist";
        $(document).ready(function() {
            $('#'+tableid).dataTable({
                "sPaginationType" : "full_numbers",
                "iDisplayLength"  : 15,
                "bLengthChange"   : false,
                "aaSorting"       : [[1, 'asc']],
                "fnDrawCallback"  : function(){
                        if ( $('#'+tableid+'_paginate span a.paginate_button').size() )
                            $('#'+tableid+'_paginate')[0].style.display = "block";
                        else
                            $('#'+tableid+'_paginate')[0].style.display = "none";
                    },                    
            });
        } );
    </script>

{% endblock %}

