{% extends 'reviews/base.html' %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}
{% block loginout %}{{ block.super }}{% endblock %}

{% block title %}
    {{ block.super }}: {{ write_edit }} Review
{% endblock %}

{% block content %}
    <h1>{{ comic.name }}</h1>

    {% if error_message %}
        <span class="error_message"><strong>{{ error_message }}</strong></span>
    {% endif %}

    <form action="{% url 'savereview' comic_id=comic.id write_edit=write_edit %}" method="post">
        {% csrf_token %}
        <div class="review">
            <input type="range" value="{{ rating }}" id="starbacking" name="rating" />
            <div class="rateit" data-rateit-backingfld="#starbacking" ></div>
            <div class="review_text">
                <textarea rows="4" cols="60" name="review_text" onfocus="this.select()">{{ review_text }}</textarea>
            </div>
        </div>
        <input type="submit" value="Review" />
    </form>
{% endblock %}
