{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: {{ write_edit }} Review{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ comic.name }}</h1>

    {% if error_message %}
        <p style="color:red;"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'savereview' comic_id=comic.id write_edit=write_edit %}" method="post">
        {% csrf_token %}
        <div class="login">
            Reviewer:
            <input type="text" name="username" />

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            Password:
            <input type="password" name="password" />
        </div>
        <br />
        <div class="review">
            <input type="range" value="{{ rating }}" id="starbacking" name="rating" />
            <div class="rateit" data-rateit-backingfld="#starbacking" ></div>
            <div class="review_text">
                <textarea rows="4" cols="60" name="review_text" onclick="this.focus();this.select()">{{ review_text }}</textarea>
            </div>
        </div>
        <input type="submit" value="Review" />
    </form>
{% endblock %}
