<a href="{% url 'index' %}">All Reviews</a>
<a href="{% url 'comicsindex' %}">All Comics</a>

<h1>Add New Comic</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'savecomic' %}" method="post">
    {% csrf_token %}

    Reviewer:
    <select name="reviewer">
    {% for reviewer in reviewers %}
        <option value="{{ reviewer.id }}">{{ reviewer.name }}</option>
    {% endfor %}
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    Password:
    <input type="password" name="password" />

    <br />

    <input type="text" name="comic_name" value = "
    {% comic_name if comic_name else "Comic Name" %}
    Comic Name" onclick="this.focus();this.select()">
    <input type="text" name="comic_url" size="30" value = "URL to FIRST STRIP of Comic" onclick="this.focus();this.select()">

    <input type="submit" value="Add" />
</form>
