{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews - Add Comic{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}
{% block allreviewers %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>Add New Comic</h1>

    {% if error_message %}<p style="color:red;"><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'savecomic' %}" method="post">
        {% csrf_token %}

        Reviewer:
        <input type="text" name="username" />

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Password:
        <input type="password" name="password" />

        <br />

        <input type="text" name="comic_name" value="{{ comic_name }}" onclick="this.focus();this.select()">
        <input type="text" name="comic_url" size="30" value="{{ comic_url }}" onclick="this.focus();this.select()">

        <input type="submit" value="Add" />
    </form>
{% endblock %}
