{% extends 'reviews/base.html' %}
{% block title %}ibComics Reviews: Comic Detail{% endblock %}
{% block allreviews %}{{ block.super }}{% endblock %}
{% block allcomics %}{{ block.super }}{% endblock %}

{% block content %}

    <h1>Reviews of <a href="{{ comic.url }}"/>{{ comic.name }}</a></h1>
    Overall: 
    <span class="rateit" data-rateit-value="{{ comic.average_rating }}" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
    {{ avg }} stars.
    <ul>
    {% for review in comic.review_set.all %}
        <li>
            <a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a>:
            <span class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true"></span>
            <a href="{% url 'detail' review.id %}">(detail)</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'writereview' comic.id %}">Add A Review</a>
    <br />
    <a href="{% url 'index' %}">Latest Reviews</a>

    <br /><br />

    {% if debug_message %}<p><strong>{{ debug_message }}</strong></p>{% endif %}

{% endblock %}
