<a href="{% url 'index' %}">All Reviews</a>
All Comics

<h1>All Comics</h1>
{% if all_comics_list %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Reviews</th>
                <th>Read Comic</th>
            </tr>
        </thead>
        <tbody>
            {% for comic in all_comics_list %}
                <tr>
                    <td>{{ comic.name }}</td>
                    <td><a href="{% url 'comicdetail' comic.id %}">{{ comic.reviews.count }} reviews</a></td>
                    <td><a href="{{ comic.url }}">{{ comic.url }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No comics are available.</p>
{% endif %}
<a href="{% url 'addcomic' %}">Add A Comic</a>
