<h1>Delete Review</h1>

{% if error_message %}<p style="color:red;"><strong>{{ error_message }}</strong></p>{% endif %}

Date: {{ review.pub_date }}
<br />
Stars: {{ review.stars }}
<br />
Text: {{ review.review_text }}
<br /><br />

<form action="{% url 'confirmdeletereview' review.id %}" method="post">
    {% csrf_token %}

    Reviewer:
    <select name="reviewer">
    {% for reviewer in reviewers %}
        <option value="{{ reviewer.id }}">{{ reviewer.name }}</option>
    {% endfor %}
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    Password:
    <input type="password" name="password" />

    <br />

    <input type="submit" value="DELETE" />
</form>
