{% extends 'base.html' %}

{% block title %}ibComics Reviews: Review Detail{% endblock %}

{% block content %}
    <h1>Review Content</h1>
    Review of <a href="{% url 'comicdetail' review.comic.id %}">{{ review.comic.name }}</a>
    by <a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a>
    <br /><br />
    <div class="rateit" data-rateit-value="{{ review.stars }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
    <br />

    {{ review.review_text }}
{% endblock %}
