All Reviews
<a href="{% url 'comicsindex' %}">All Comics</a>

<h1>Latest Reviews</h1>
{% if latest_review_list %}
    <ul>
    {% for review in latest_review_list %}
        <li>
            <a href="{% url 'reviewerdetail' review.reviewer.id %}">{{ review.reviewer.name }}</a> gave 
            <a href="{% url 'detail' review.id %}">{{ review.stars }}</a> stars for
            <a href="{% url 'comicdetail' review.comic.id %}">{{ review.comic }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews are available.</p>
{% endif %}
