<a href="{% url 'index' %}">All Reviews</a>
<a href="{% url 'comicsindex' %}">All Comics</a>

<h1>Reviews by {{ reviewer.name }}</a></h1>
<ul>
{% for review in reviewer.review_set.all %}
    <li>
        {{ review.reviewer.name }} ({{ review.reviewer.user.username }}) gave 
        <a href="{% url 'detail' review.id %}">{{ review.stars }}</a> stars for
        <a href="{% url 'comicdetail' review.comic.id %}">{{ review.comic }}</a>
        (<a href="{% url 'deletereview' review.id %}">delete</a>)
    </li>
{% endfor %}
</ul>
<a href="{% url 'index' %}">Latest Reviews</a>
