<a href="{% url 'index' %}">All Reviews</a>
<a href="{% url 'comicsindex' %}">All Comics</a>

<h1>{{ comic.name }}</h1>

{% if error_message %}<p style="color:red;"><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'savereview' comic.id %}" method="post">
    {% csrf_token %}

    Reviewer:
    <select name="reviewer">
    {% for reviewer in reviewers %}
        <option value="{{ reviewer.id }}">{{ reviewer.name }}</option>
    {% endfor %}
    </select>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    Password:
    <input type="password" name="password" />

    <br />

    <textarea rows="4" cols="60" name="review_text" onclick="this.focus();this.select()">
        Enter Review here...
    </textarea>

    <input type="submit" value="Review" />
</form>
